/* Stylesheet*/

BODY {
	margin-top:0;
	margin-left:0;
	margin-bottom:0;
	margin-right:0;	
	background-color:rgb(255,255,255);
}

TABLE {
	background-color:rgb(255,255,255);
	border:none;
}


/* Generic Horizontal Ruler class */
HR { background: transparent; clear: both; color: #cc3333; }


			
.table {  border-style:solid; 
          border-width:1px; 
		  border-color:rgb(160,160,160);		  
}


/* Tooltip */
.tooltip    { background: transparent; 
              color: #000000;
              text-decoration: none; 
			  cursor:help;
			  font-size: 10pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
			}

/* Style rule for "larger" text */
.text { font-size: 11pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
	  }
	  
.text10 { font-size: 10pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
	  }	
	   
.text10b { font-size: 10pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
		    font-weight: bold;
	  }	 	   

	  
.text9b { font-size: 9pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
		 font-weight: bold;
	  }
	  
.text9 { font-size: 9pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
	  }	  
	  
.text8 { font-size: 8pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
	  }	 
	  
.current-step { 
 font-size: 8pt; 
 font-weight: bold; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
 color:#009500;
}	
	  	  	  
.text8b { 
 font-size: 8pt;
 font-weight: bold; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
}
	  	
.text8bRed {
 font-size: 8pt;
 font-weight: bold; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
 color:rgb(255,0,0);	
}
		

.textBlue { 
	font-size: 8pt;
	font-weight: bold; 
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    color: #8686C4;
}	 	    
	      
.text7 { font-size: 7pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
	  }		  
	  
.text7b { font-size: 7pt; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
		  font-weight: bold; 
	  }		  

.input-field {
 font-size: 8pt; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
 border-style:solid; 
 border-width:1px; 
 border-color:rgb(160,160,160);
}
	


	