<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "conf/logging/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/> -->
		<!-- <param name="Target" value="System.out"/> -->
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [(%c{1}) %t] %m%n"/>
		</layout>
	</appender>

	<appender name="FILE" class="biz.minaret.log4j.DatedFileAppender">
		<param name="Threshold" value="TRACE"/>
		<param name="Directory" value="log"/>
		<param name="Prefix" value="TEST-SERVER-BCK-VIVO-"/>
		<param name="Suffix" value=".log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [(%c(1) %t] %m%n"/>
			<!-- param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] - %m%n"/ -->
		</layout>
	</appender>

	<logger name="br.com.auster.om.filter.LoggerPersistenceFilter" additivity="true">
		<level value="DEBUG"/>
	</logger>

	<logger name="br.com.auster.vivo.billcheckout.util.SubscriptionAndPriceAssociation"
		additivity="true">
		<level value="debug"/>
	</logger>

	<logger name="br.com.auster.vivo.billcheckout.pricing" additivity="true">
		<level value="trace"/>
	</logger>

	<logger name="br.com.auster.common.rules.GlobalForLog" additivity="true">
		<level value="TRACE"/>
	</logger>

	<root>
		<priority value="TRACE"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
</log4j:configuration>
